venue-search {
  background-color: #fff;
  border: 1px solid $color-grey-lighter;
  color: $color-body;
  display: block;
  margin: 10px auto;
  max-width: 600px;
  padding: 0 34px 34px;
  position: relative;

  > h3 {
    font-size: 19px;
    margin: 18px 0 19px;
    text-align: center;

    span {
      font-family: $font-family-cursive;
      font-size: 27px;
      color: #444;
    }
  }

  > form {
    @include clearfix();

    &.is-invalid input {
      border: 1px solid $color-error;
    }

    > label {
      float: left;
      width: calc(100% - 120px);

      input {
        border: 1px solid $color-grey;
        font-size: 14px;
        line-height: 1;
        height: 30px;
        padding: 0px 5px 4px;
        width: calc(100% - 8px);
        vertical-align: middle;
      }
    }

    > button {
      background-color: $color-primary;
      border: 1px solid $color-grey;
      display: inline-block;
      color: #fff;
      font-size: 16px;
      padding: 0 0 4px 0;
      height: 30px;
      float: right;
      width: 120px;
    }
  }

  .venue-search__results {
    padding: 16px 3px 0;

    p {
      font-size: 16px;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    li {
      @include clearfix();
      display: block;

      &:not(:last-child) {
        margin-bottom: 8px;
      }

      > span {
        float: left;
        font-family: $font-family-cursive;
        font-size: 13px;
        padding: 5px 0 0 0;
        width: 25px;
      }

      > a {
        font-size: 16px;
        float: left;
        width: calc(100% - 25px);

        &,
        &:visited {
          color: $color-primary;
          text-decoration: none;
        }

        &:hover,
        &:active {
          color: darken($color-primary, 30%);
          text-decoration: none;
        }
      }
    }
  }
}